body {

}

h2 {
    text-align: center;
    font-family:verdana
}

#divcurrdata {
    margin-left: 12px;
    margin-right: 12px;
}


#currdata {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}


#currdata td, #currdata th {
    border: 1px solid #ddd;
    padding: 8px;
}

#currdata tr:nth-child(even){background-color: #f2f2f2;}

#currdata tr:hover {background-color: #ddd;}

#currdata th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #CB4335;
    color: white;
}

#nomeetings {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #CB4335;
    color: white;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.seldate {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#selectserver {
    width: 700px;
    text-align: left;
    font-size: 1em;
    margin-left: 12px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#secret {
    width: 200px;
    font-size: 1em;
    margin-left: 12px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;

    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

}

.select2-selection__choice, .select2-results__option, .select2-results__option--highlighted {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}



#datepicker, #datepicker1 {
    font-size: 1em;
}

#but {
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 1.2em;
    font-size: 1em;
    margin-left: 20px;
}

.sel{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding-left: 20px;
}

#hidden {
    visibility: hidden;
}

