body {

}

h2 {
    text-align: center;
    font-family:verdana
}

#currdata {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-left: 12px;
    margin-right: 12px;
    width: 100%;
}


#currdata td, #currdata th {
    border: 1px solid #ddd;
    padding: 8px;
}

#currdata tr:nth-child(even){background-color: #f2f2f2;}

#currdata tr:hover {background-color: #ddd;}

#currdata th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #CB4335;
    color: white;
}

#nomeetings {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #CB4335;
    color: white;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.seldate {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#selectserver {
    width: 700px;
    text-align: left;
    font-size: 1em;
    margin-left: 12px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.select2-selection__choice {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.sel {
    margin-left: 12px;
}

#but {
    margin-left: 6px;
    font-size: 1.5em;
}

#datepicker {
    font-size: 1em;
}

#butx {
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 1.2em;
    margin-left: 6px;
    margin-top: 8px;
}

